---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Formules from '../components/Formules.astro';
import WhyUs from '../components/WhyUs.astro';
import Reviews from '../components/Reviews.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <HowItWorks />
    <Formules />
    <WhyUs />
    <Reviews />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
